{% extends 'base.html.twig' %}


{% block header %}<h1 class="title">Welcome!</h1>{% endblock %}
{% block body %}
<div>This is the index page the site is still under construction</div>
{% endblock %}
