<nav class=" flex flex-col justify-between min-h-screen max-[768px]:items-center">
    <ul class="list-none">
        <li><a  href="{{ path('app_admin_page_index') }}" class="text-black font-bold text-2xl md:text-xl text-center md:text-right cursor-pointer"><i class="fa fa-paper-plane"></i> <b class="max-[768px]:hidden">Page</b></li>
        <li><a  href="{{ path('app_admin_product_index') }}" class="text-black font-bold text-2xl md:text-xl text-center md:text-right cursor-pointer"><i class="fa-solid fa-calendar"></i> <b class="max-[768px]:hidden">Products</b></li>
    </ul>
    <a href="{{ path('app_admin_logout') }}" class="text-black font-bold text-xl cursor-pointer"><i class="fa-solid fa-user-large-slash"></i><b class="max-[768px]:hidden">Logout</b></a>
</nav>