<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {{ include('components/_stylesheets.html.twig') }}

</head>
<body class="min-h-screen bg-gray-200 shadow-inner grid grid-cols-12">
    <div class="min-h-screen p-2 col-span-2 border-r-2 border-r-gray-300">
        {{ include('/components/admin/_adminNav.html.twig') }}
    </div>
    <div class="col-span-10 block">
        a
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>