<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {{ include('components/public/_styles.html.twig') }}
    {{ include('components/public/_scripts.html.twig') }}
</head>
<body class="min-h-screen bg-gray-200 shadow-inner grid grid-cols-12 p-2">
    <div class="min-h-screen p-2 col-span-2 sm:col-span-1 border-r-2 border-r-gray-300">
        {{ include('/components/admin/_adminNav.html.twig') }}
    </div>
    <div class="col-span-10 sm:col-span-11">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>