<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body class="min-h-screen bg-blue-400">
    <!-- Navigation Bar -->
        {% include 'components/_header.html.twig' %}
    

    <!-- Main Content -->
    <main class="min-h-70 flex">
        {% block body %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        {% include 'components/_footer.html.twig' %}
    </footer>
</body>
</html>