<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {{ include('components/_stylesheets.html.twig') }}
</head>
<body class=" min-h-screen bg-gray-200 shadow-inner">
    <!-- Navigation Bar -->
        {% include 'components/public/_header.html.twig' %}
    

    <!-- Main Content -->
        {% include 'components/public/_main.html.twig' %}

    <!-- Footer -->
        {% include 'components/public/_footer.html.twig' %}
</body>
</html>